[Desktop Entry]
Type=Application
Name=ConvertAll
GenericName=Unit Converter
Comment=Flexible unit converter
Exec=convertall
Icon=convertall-icon
StartupNotify=true
Categories=Qt;Math;Science;Education
Keywords=pound;euro;dollar;yen;meter;metre;mile;gram;inch;litre;ounce;grain;second;minute;hour;degree;celsius;kelvin;fahrenheit;
